h1 {
	font-weight: 500px;
	font-family: Helvetica;
	font-color: ;
}

h1.name {
	text-align: center;
	font-weight: lighter;
}

h6.add {
	text-align: center;
	color: gray
}

li.bar {
	display: inline;
	float: left;
	text-align: center;
	position: relative;
	display: inline;
	border: 2px black solid;
	margin: 10px;
}

ul {

}
